<div class="w-full p-10">
    <div class="grid grid-cols-3 gap-4">
        <a href="<%= join_challenge_path(@game.id, 1, 'individual')%>">
            <div class="w-full bg-purple-600 p-10 rounded-md shadow">
                Enter 1V1 Challenge
            </div>
        </a>
        <a href="<%= join_challenge_path(@game.id, 3, 'individual')%>">
        <div class="w-full bg-purple-600 p-10 rounded-md shadow">
            Enter 3V3 Challenge
        </div>
    </a>
        <a href="<%= join_challenge_path(@game.id, 5, 'individual')%>">
        <div class="w-full bg-purple-600 p-10 rounded-md shadow">
            Enter 5V5 Challenge
        </div>
    </a>
    </div>
</div>

<h2>My Challenges</h2>
<div class="grid grid-cols-3 gap-4">
<% @challenges.each do |challenge| %>
    <a href="<%= show_challenge_path(@game, @challenge)%>">
        <div class="w-full bg-purple-600 p-10 rounded-md shadow">
            this is a <%= challenge.slots_per_team%> vs <%= challenge.slots_per_team%> challenge
        </div>
    </a>
<% end %>
</div>