
  <div class="relative bg-gray-800 mt-0 mb-0">
    <div class="h-72 sm:h-72 md:absolute md:left-0 md:h-full md:w-full">
      <% if @game.cover.present? %>
      <img class="w-full h-full object-cover bg-gray-800" src="<%= url_for(@game.cover) %>" alt="" />

      <div class="overlay absolute top-0 left-0 bottom-0 right-0 dark-gradient"
      style="background: linear-gradient(rgba(17,18,23,0),#000);">

  </div>
      <% else %>
      <div class="overlay absolute top-0 left-0 bottom-0 right-0 bg-black"></div>
      <% end %>
    </div>
    <div class="relative max-w-screen-xl mx-auto px-0 pt-12 pb-5 bg-dark-gradient grid grid-cols-6 gap-2">
      <div class="col-span-1">
        <div class="flex flex-col rounded-lg shadow-lg bg-gray-600 overflow-hidden">
          <div class="flex-shrink-0">
            <% if @game.card.present? %>
            <img class="h-64 w-full object-cover" src="<%= url_for(@game.card) %>" alt="" />
            <% else %>
            <img class="h-64 w-full object-cover" src="/images/icons/no-game.png" alt="" />
            <% end %>
          </div>
        </div>
      </div>

      <div class="col-span-5">
        <h1 class="text-white text-4xl font-bold pt-5 pb-2 pl-0"><%= @game.name %></h1>

        <span class="inline-flex">
          <button type="button"
            class="inline-flex items-center px-4 py-2 border border-transparent text-sm leading-5 font-medium rounded-full text-white bg-teal-600 hover:bg-teal-500 focus:outline-none focus:border-teal-700 focus:shadow-outline-teal active:bg-teal-700 transition ease-in-out duration-150">
            <%= @count_tournament %> <%= t 'global.menu.tournaments'%>
          </button>
        </span>

        <div>
          <div class="sm:hidden">
            <select aria-label="Selected tab" class="form-select block w-full">
              <option>My Account</option>
              <option>Company</option>
              <option selected>Team Members</option>
              <option>Billing</option>
            </select>
          </div>
          <div class="hidden sm:block">
            <div class="border-b border-indigo-600">
              <nav class="flex -mb-px">
                <a href="<%= show_game_path(@game.id) %>"
                  class="group inline-flex items-center py-4 px-1 border-b-4 -mb-0 pb-2 border-transparent font-medium text-sm leading-5 text-gray-500 hover:text-teal-500 hover:border-teal-300 focus:outline-none focus:text-gray-700 focus:border-teal-300">
                  <%= t 'game.tabs.overview'%>
                </a>
                <a href="<%= show_game_tournaments_path(@game.id) %>"
                  class="group inline-flex items-center py-4 px-1 border-b-4 -mb-0 pb-2 border-transparent font-medium text-sm leading-5 text-gray-500 hover:text-teal-500 hover:border-teal-300 focus:outline-none focus:text-gray-700 focus:border-teal-300">
                  <%= t 'game.tabs.tournaments'%>  
                </a>
                <!-- <a href="#" @click.prevent="setActiveTabName('teamfinder')"
                  class="ml-8 group inline-flex items-center py-4 px-1 border-b-4 -mb-0 pb-4 border-transparent font-medium text-sm leading-5 text-gray-500 hover:text-teal-500 hover:border-teal-300 focus:outline-none focus:text-gray-700 focus:border-teal-300">
                  <svg class="-ml-0.5 mr-2 h-5 w-5 text-gray-400 group-hover:text-teal-500 group-focus:text-teal-600"
                    fill="currentColor" viewBox="0 0 20 20">
                    <path fill-rule="evenodd"
                      d="M4 4a2 2 0 00-2 2v1h16V6a2 2 0 00-2-2H4zm14 5H2v5a2 2 0 002 2h12a2 2 0 002-2V9zM4 13a1 1 0 011-1h1a1 1 0 110 2H5a1 1 0 01-1-1zm5-1a1 1 0 100 2h1a1 1 0 100-2H9z"
                      clip-rule="evenodd" />
                  </svg>
                  <span>Team Finder</span>
                </a> -->
              </nav>
            </div>
          </div>
        </div>
      </div>

      <!-- <div class="md:ml-auto md:w-full pt-60 px-5 mt-0">
      <h2 class="mt-0 text-white text-3xl leading-9 font-extrabold tracking-tight sm:text-4xl sm:leading-10">
        Counter-Strike : Global Offensive
      </h2>
    </div> -->
    </div>
  </div>

  <div class="px-4 bg-black my-0">
    <%= render "game/partials/overview" %>
  </div>
