<div class="members pb-60">
    <% if (@members.count > 0) %>
        <h2 class="text-white font-bold text-2xl mb-3"><%= @team.name %><%= t 'team.label.member_title'%></h2>
    <!-- members box -->

    <div class="members-box grid grid-cols-3">

        <% @members.each do |member| %>
        <!-- member block -->
        <div class="member mb-5" v-for="n in 11" v-bind:key="n">
            <a href ="<%= show_user_path(member.id) %>" class="flex-shrink-0 group block focus:outline-none">
                <div class="flex items-center">
                    <div>
                        <% if member.avatar.attached? %>
                        <img class="inline-block h-12 w-12 rounded-full object-cover"
                            src="<%= url_for(member.avatar) %>" alt />
                        <% else %>
                        <img class="inline-block h-12 w-12 rounded-full object-cover" src="/images/icons/no-game.png"
                            alt />
                        <% end %>
                    </div>
                    <div class="ml-3">
                        <p class="text-sm leading-5 font-medium text-gray-700 group-hover:text-white">
                            <%= member.username %>
                            <% if (@team.owner_id == member.id) %>
                            <span
                                class="ml-2 inline-flex items-center px-2.5 py-0.5 rounded-full text-xs font-medium leading-4 bg-yellow-100 text-yellow-800">
                                <%= t 'team.label.captian'%>
                            </span>
                            <% end %>
                        </p>
                        <p
                            class="text-xs leading-4 font-medium text-gray-500 group-hover:text-gray-400 group-focus:underline transition ease-in-out duration-150">
                            <%= t 'global.signed_up'%> <%= time_ago_in_words(member.created_at) %>
                        </p>
                    </div>
                </div>
            </a>
        </div>
        <% end %>
        <!-- member block end -->
    </div>
    <% else %>
    <div class="m-8 text-center">
        <svg class=" text-gray-500 inline-block h-8 w-8" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20"
            fill="currentColor">
            <path
                d="M13 6a3 3 0 11-6 0 3 3 0 016 0zM18 8a2 2 0 11-4 0 2 2 0 014 0zM14 15a4 4 0 00-8 0v3h8v-3zM6 8a2 2 0 11-4 0 2 2 0 014 0zM16 18v-3a5.972 5.972 0 00-.75-2.906A3.005 3.005 0 0119 15v3h-3zM4.75 12.094A5.973 5.973 0 004 15v3H1v-3a3 3 0 013.75-2.906z" />
        </svg>

        <p class="mt-3 max-w-md mx-auto text-base text-gray-500 sm:text-sm md:mt-5 sm:text-sm md:max-w-2xl">
           <%= t 'activerecord.errors.messages.empty_member'%> </p>
        <p class="mt-3 max-w-md mx-auto text-base text-gray-500 sm:text-sm md:mt-5 sm:text-sm md:max-w-2xl">
           <%= t 'activerecord.errors.messages.register_member'%>
        </p>

    </div>
    <% end %>
    <!-- members box end -->
</div>
