<% if (@results.count > 0) %>

<div class="min-h-screen max-w-7xl mx-auto px-4 sm:px-6 md:px-2 py-10 bg-black">

    <div class="mt-2 grid gap-5 max-w-lg mx-auto lg:grid-cols-4 lg:max-w-none">
        <% 1.times do %>
        <% @results.each do |result| %>
        <div
            class="bg-gray-900 rounded-md overflow-hidden shadow-md transform hover:scale-110 transition duration-150 ease-in-out">
            <div class="team-cover relative">

                <% if result.cover.attached? %>
                <img src="<%= url_for(result.cover) %>" alt="" class="h-40 w-full object-cover">
                <% else %>
                <img src="/images/icons/no-game.png" alt="" class="h-40 w-full object-cover">
                <% end %>

                <div class="absolute top-0 left-0 bottom-0 right-0"
                    style="background: linear-gradient(rgba(17,18,23,0),#000);">
                </div>
            </div>

            <div class="flex-1 bg-gray-900 p-3 flex flex-col justify-between">
                <div class="mt-0 flex items-center">
                    <div class="flex-shrink-0">
                        <a href="<%= show_team_path(result) %>">
                            <% if result.avatar.attached? %>
                            <img class="h-10 w-10 rounded-full" src="<%= url_for(result.avatar) %>" alt="" />
                            <% else %>
                            <img class="h-10 w-10 rounded-full object-cover" src="/images/icons/no-game.png" alt="" />
                            <% end %>
                        </a>
                    </div>
                    <div class="ml-3">
                        <p class="pr-2 text-sm leading-5 font-bold text-gray-200">
                            <a href="<%= show_team_path(result) %>" class="">
                                <%= result.name %>
                            </a>
                            <% if ((current_user.team.present?) and (current_user.team == result)) %>
                            <% if (current_user.team.owner_id == current_user.id) %>
                            <span
                                class="ml-1 inline-flex items-center px-1 py-0.25 rounded-full text-xs font-medium leading-4 bg-red-200 text-red-800">
                                <%= t 'team.label.owner'%>
                            </span>
                            <% end %>
                            <% end %>
                        </p>
                        <div class="pr-2 flex text-xs leading-4 text-gray-500">
                            <time datetime="2020-03-16">
                              <%= t 'team.label.joined'%> <%= result.created_at.strftime("%F") %>
                            </time>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <% end %>
        <% end %>
    </div>

</div>
<% else %>
<div class="min-h-screen max-w-7xl mx-auto px-4 sm:px-6 md:px-2 py-10 border-black flex justify-center content-center bg-black">">
    <div class=" mx-auto lg:grid-cols-4 lg:max-w-none">

        <h3 class="text-white font-bold text-1xl mb-2 lg:col-span-2"> 
            <%= t 'activerecord.errors.messages.empty_search'%> </p>
        </h3>
        <span class="text-white font-bold text-1xl mb-2 lg:col-span-2">
            <%= t 'activerecord.errors.messages.verifier_search'%> </p>
        </span>
    </div>

</div>
<% end %>