<div class="relative bg-black pt-0 pb-0 px-0 sm:px-0 lg:pt-0 lg:pb-0 lg:px-0 h-full">
    <div class="header w-full relative h-64">
        <!-- <div class="cover"> -->
        <% if @team.cover.present? %>
        <img src="<%= url_for(@team.cover) %>" alt="" class="object-cover h-60 w-full">
        <% else %>
        <img src="/images/icon/no-game.png" alt="" class="object-cover h-60 w-full">
        <% end %>
        <!-- </div> -->
        <div class="overlay absolute top-0 left-0 bottom-0 right-0 dark-gradient"
            style="background: linear-gradient(rgba(17,18,23,0),#000);">

        </div>
    </div>

    <div class="relative w-full team-infos grid grid-cols-3 -mt-40 text-white">
        <div class="col-span-3 mb-5">
            <div class=" flex flex-wrap justify-center content-center">
                <% if @team.avatar.present? %>
                <img src="<%= url_for(@team.avatar) %>" alt="" class="h-24 w-24 rounded-lg border-4 object-cover">
                <% else %>
                <img src="/images/icon/no-game.png" alt="" class="h-24 w-24 rounded-lg border-4 object-cover">
                <% end %>
            </div>
            <div class="flex flex-wrap justify-center content-center text-3xl text-white font-bold">
                <%= @team.name %>
            </div>
            <% if ((current_user.team.present?) and (current_user.team == @team)) %>
            <% if (@team.owner_id == current_user.id) %>
            <div class="p-3 tooltip flex space-x-2 flex flex-wrap justify-center content-center">
                <div class="text-xs px-3 bg-teal-200 text-teal-600 rounded-full"><%= t 'team.label.owner'%>
                    <span class='tooltip-text bg-blue-200 p-3 -mt-6 -ml-4 rounded'><%= @team.name %><%= t 'team.label.owner'%> </span>
                </div>
            </div>
            <% end %>
            <% end %>

        </div>

    </div>

    <div class="text-end">
        <% if ((current_user.team.present?) and (current_user.team == @team)) %>
        <% if (@team.owner_id == current_user.id) %>
        <button
            class="modal-open px-3 py-2 font-medium text-sm leading-5 rounded-full transition duration-150 ease-in-out text-gray-200 border-2 hover:bg-purple-800 shadow">
            <%= t 'team.tabs.give_ownership'%>
        </button>

        <%= render partial: "team/partials/modal_giveOwnerShip", locals: { team: @team } %>

        <% else %>
        <button
            class="modal-open px-3 py-2 font-medium text-sm leading-5 rounded-full transition duration-150 ease-in-out text-gray-200 border-2 hover:bg-purple-800 shadow">
            <%= t 'team.submit.quit'%>
        </button>
        <%= render partial: "team/partials/modal_confirmation", locals: { team: @team, target: "quit" } %>

        <% end %>
        <% end %>

        <% unless (current_user.team.present?) %>
        <% if (@team.owner_id != current_user.id) %>
        <% if (@current_user_request < 1) %>
        <button
            class="modal-open px-3 py-2 font-medium text-sm leading-5 rounded-full transition duration-150 ease-in-out text-gray-200 border-2 hover:bg-purple-800 shadow">
            <%= t 'team.submit.join'%>
        </button>
        <%= render partial: "team/partials/modal_confirmation", locals: { team: @team, target: "join" } %>
        <% else %>
        <button
            class="px-3 py-2 font-medium text-sm leading-5 rounded-full transition duration-150 ease-in-out text-gray-200 border-2 hover:bg-purple-800 shadow">
            <%= t 'team.submit.request_pending'%>
        </button>
        <% end %>
        <% end %>
        <% end %>
    </div>

    <div class="hidden sm:block">
        <div class="border-b border-gray-600">
            <div class="-mb-px flex">
                <a href="<%= show_team_path(@team.id) %>"
                    class="whitespace-no-wrap py-4 px-1 border-b-4 border-transparent font-medium text-sm leading-5 text-gray-500 hover:text-gray-700 hover:border-purple-800 focus:outline-none focus:text-purple-800 focus:border-purple-800">
                    <%= t 'team.tabs.overview'%>
                </a>
                <a href="<%= show_team_members_path(@team.id) %>"
                    class="whitespace-no-wrap ml-8 py-4 px-1 border-b-4 border-transparent font-medium text-sm leading-5 text-gray-500 hover:text-gray-700 hover:border-purple-800 focus:outline-none focus:text-purple-800 focus:border-purple-800">
                    <%= t 'team.tabs.members'%>
                </a>
                <a href="<%= show_team_stats_path(@team.id) %>"
                    class="whitespace-no-wrap ml-8 py-4 px-1 border-b-4 border-transparent font-medium text-sm leading-5 text-gray-500 hover:text-gray-700 hover:border-purple-800 focus:outline-none focus:text-purple-800 focus:border-purple-800">
                    <%= t 'team.tabs.stats'%>
                </a>
                <a href="<%= show_team_awards_path(@team.id) %>"
                    class="whitespace-no-wrap ml-8 py-4 px-1 border-b-4 border-transparent font-medium text-sm leading-5 text-gray-500 hover:text-gray-700 hover:border-purple-800 focus:outline-none focus:text-purple-800 focus:border-purple-800">
                    <%= t 'team.tabs.awards'%>
                </a>
                <!-- show this block only for admin -->
                <% if (@team.owner_id == current_user.id) %>
                <% if (@team.rosters.present?) %>
                <a href="<%= team_rosters_path(@team) %>"
                    class="whitespace-no-wrap ml-8 py-4 px-1 border-b-4 border-transparent font-medium text-sm leading-5 text-gray-500 hover:text-gray-700 hover:border-purple-800 focus:outline-none focus:text-purple-800 focus:border-purple-800">
                    <%= t 'team.tabs.rosters'%>
                </a>
                <% else %>
                <span class="inline-flex rounded-md shadow-sm">
                    <a href=<%= team_new_roster_path() %>
                        class="whitespace-no-wrap ml-8 py-4 px-1 border-b-4 border-transparent font-medium text-sm leading-5 text-gray-500 hover:text-gray-700 hover:border-purple-800 focus:outline-none focus:text-purple-800 focus:border-purple-800">
                    <%= t 'team.tabs.create_roster'%>
                    </a>
                </span>
                <% end %>
                <a href="<%= show_team_requests_path(@team.id) %>"
                    class="whitespace-no-wrap ml-8 py-4 px-1 border-b-4 border-transparent font-medium text-sm leading-5 text-gray-500 hover:text-gray-700 hover:border-purple-800 focus:outline-none focus:text-purple-800 focus:border-purple-800">
                    <%= t 'team.tabs.requests'%>
                </a>
                <% else %>
                <!-- show this tab only for member have a team -->
                <% if ((current_user.team.present?) and (current_user.team == @team)) %>
                <% if current_user.team_id != nil %>
                <a href="<%= team_rosters_path (@team) %>"
                    class="whitespace-no-wrap ml-8 py-4 px-1 border-b-4 border-transparent font-medium text-sm leading-5 text-gray-500 hover:text-gray-700 hover:border-purple-800 focus:outline-none focus:text-purple-800 focus:border-purple-800">
                    <%= t 'team.tabs.rosters'%>
                </a>
                <% end %>
                <% end %>
                <% end %>
                <!--end block -->

            </div>

        </div>

    </div>
</div>