<%= form_with(url: team_send_new_roster_path, local: true) do |f| %>
<div class="bg-gray-800 min-h-screen-full pb-10">
  <div class="md:flex md:items-center md:justify-between px-10 py-5 bg-orange-500">
    <div class="flex-1 min-w-0">
      <h2 class="text-2xl font-bold leading-7 text-white sm:text-3xl sm:leading-9 sm:truncate">Creating a roster</h2>
    </div>
  </div>

  <div class="bg-white shadow px-4 py-5 sm:rounded-lg sm:p-6 mx-10 my-10">
    <div class="md:grid md:grid-cols-3 md:gap-6">
      <div class="md:col-span-1">
        <h3 class="text-lg font-medium leading-6 text-gray-900">Team Info</h3>
        <p class="mt-1 text-sm leading-5 text-gray-500">
          This information will be displayed publicly so be careful what you
          share.
        </p>
      </div>
      <div class="mt-5 md:mt-0 md:col-span-2">
        <form @submit.prevent="addTeam(currentUser._id)">
          <div class="mt-6 grid grid-cols-1 row-gap-6 col-gap-4 sm:grid-cols-6">
            <div class="sm:col-span-4">
              <label for="name" class="block text-sm font-medium leading-5 text-gray-700">Name</label>
              <div class="mt-1 flex rounded-md shadow-sm">
                <%= f.text_field :name, class: "form-input flex-1 block w-full rounded-none rounded-md transition duration-150 ease-in-out sm:text-sm sm:leading-5" %>
                <%= f.hidden_field :user_id, value: current_user.id %>

              </div>
            </div>
          </div>
          <form @submit.prevent="addTeam(currentUser._id)">
            <div class="mt-6 grid grid-cols-1 row-gap-6 col-gap-4 sm:grid-cols-6">
              <div class="sm:col-span-4">
                <label for="limit" class="block text-sm font-medium leading-5 text-gray-700">Limit</label>
                <div class="mt-1 flex rounded-md shadow-sm">
                  <%= f.number_field :limit, class: "form-input flex-1 block w-full rounded-none rounded-md transition duration-150 ease-in-out sm:text-sm sm:leading-5" %>
                  <%= f.hidden_field :user_id, value: current_user.id %>
                </div>
              </div>
            </div>

            <!--list of game -->
            <form @submit.prevent="addTeam(currentUser._id)">
              <div class="mt-6 grid grid-cols-1 row-gap-6 col-gap-4 sm:grid-cols-6">
                <div class="sm:col-span-4">
                  <label for="game" class="block text-sm font-medium leading-5 text-gray-700">Game</label>
                  <div class="mt-1 flex rounded-md shadow-sm">
                    <%= f.select :game, Game.all.collect { |g| [g.name, g.id] }, {}, { :class => "form-select block w-full transition duration-150 ease-in-out sm:text-sm sm:leading-5" } %>
                  </div>
                </div>
              </div>
              <!--end list -->
              <!--cover at roster -->

              <input name="cover" id="fileInput" accept="image/*" class="hidden" type="file" onChange="let file = this.files[0]; 
					var reader = new FileReader();

					reader.onload = function (e) {
						document.getElementById('cover').src = e.target.result;
					};
				
					reader.readAsDataURL(file);
				">
              <div class="mt-6 grid grid-cols-1 row-gap-6 col-gap-4 sm:grid-cols-6">

                <div class="sm:col-span-6">
                  <label for="photo" class="block text-sm leading-5 font-medium text-gray-700">
                    Cover
                  </label>

                  <div class="mt-2 flex items-center">

                    <span class="h-16 w-16 rounded-full overflow-hidden bg-gray-100">
                      <% if @roster.cover.attached? %>
                      <img id="cover" src="<%= url_for(@roster.cover) %>" alt=""
                        class="h-36 w-36 rounded-lg border-4 object-cover">
                      <% else %>
                      <img id="cover" src="/images/icon/no-game.png" alt="" class="h-36 w-36 rounded-lg border-4 object-cover">
                      <% end %>
                    </span>
                    <span class="ml-5 rounded-md shadow-sm">
                      <%= f.file_field :cover, class: "fileInput" %>

                      <button type="button"
                        class="py-2 px-3 border border-gray-300 rounded-md text-sm leading-4 font-medium text-gray-700 hover:text-gray-500 focus:outline-none focus:border-blue-300 focus:shadow-outline-blue active:bg-gray-50 active:text-gray-800 transition duration-150 ease-in-out"
                        onClick="document.getElementById('fileInput').click()">
                        Change
                      </button>
                    </span>
                  </div>

                </div>
              </div>
              <!--end cover -->
              <div class="mt-8 border-t border-gray-200 pt-5">
                <div class="flex justify-end">
                  <span class="inline-flex rounded-md shadow-sm">
                    <%= link_to "cancel", :back, class: "py-2 px-4 border border-gray-300 rounded-md text-sm leading-5 font-medium text-gray-700 hover:text-gray-500 focus:outline-none focus:border-blue-300 focus:shadow-outline-blue active:bg-gray-50 active:text-gray-800 transition duration-150 ease-in-out" %>
                  </span>
                  <span class="ml-3 inline-flex rounded-md shadow-sm">
                    <button type="submit"
                      class="inline-flex justify-center py-2 px-4 border border-transparent text-sm leading-5 font-medium rounded-md text-white bg-indigo-600 hover:bg-indigo-500 focus:outline-none focus:border-indigo-700 focus:shadow-outline-indigo active:bg-indigo-700 transition duration-150 ease-in-out">
                      Save
                    </button>
                  </span>
                </div>
              </div>
      </div>
      </form>
    </div>
  </div>
</div>
<% end %>




