<div class="tournament-header relative w-full p-10" data-module="tournament">

    <!-- Tournament image background -->
    <div class="absolute top-0 left-0 bottom-0 right-0 dark-gradient overflow-hidden">
        <% if @tournament.cover.attached? %>
        <img class="w-full object-cover" src="<%= url_for(@tournament.cover) %>" alt="" />
        <% else %>
        <img class="w-full object-cover" src="/images/icons/no-game.png" alt="" />
        <% end %>
    </div>
    <!-- Tournament image background end -->

    <!-- Tournament image overlay -->
    <div class="overlay absolute top-0 left-0 bottom-0 right-0 dark-gradient"
        style="background: linear-gradient(rgba(17,18,23,0),#000);">

    </div>
    <!-- Tournament image overlay end -->

    <!-- Tournament info -->
    <div class="pt-10 relative">
        <!-- Tournament logo -->
        <div class="inline-block logo">
            <% if @tournament.game.card.attached? %>
            <img src="<%= url_for(@tournament.game.card) %>" alt="" class="h-42 w-32 object-cover rounded-md shadow">
            <% else %>
            <img class="h-42 w-32 object-cover rounded-md shadow" src="/images/icons/no-game.png" alt="" />
            <% end %>
        </div>
        <!-- Tournament logo end -->

        <!-- Tournament header text -->
        <div class="inline-block tournament-text-infos pl-5">
            <!-- Kind -->
            <h3 class="text-gray-200 font-thin uppercase text-sm"><%= t "tournaments.title" %></h3>

            <!-- Name -->
            <h1 class="text-gray-100 font-bold uppercase text-3xl"><%= @tournament.name %></h3>

                <!-- Time and status -->
                <h2 class="text-gray-300">
                 <% if @tournament.planned_at %>
                    <% if @tournament.planned_at.to_date == Date.today %>
                        <%= t "date.today" %> <%= t "date.at" %> <%= @tournament.planned_at.strftime("%H:%M") %>
                        <% elsif @tournament.planned_at.to_date == Date.yesterday %> 
                        <%= t "date.yesterday" %> <%= t "date.at" %> <%= @tournament.planned_at.strftime("%H:%M") %>
                        <% else %>
                        <%= I18n.l(@tournament.planned_at, format: "%A, %Y-%m-%d %H:%M") %>
                    <% end %>
                <% end %>
                
                <% if (@tournament.rosters) && (@tournament.slots) %>
                    <% if ((@tournament.start_date > Date.today) and (@tournament.rosters.count < @tournament.slots)) %>
                    <span class="bg-green-700 text-white text-xs px-2 py-1 rounded-full"><%= t "tournaments.status.open" %></span>
                    <% elsif (@tournament.rosters.count >= @tournament.slots) %>
                    <span class="bg-red-700 text-white text-xs px-2 py-1 rounded-full"><%= t "tournaments.status.full" %></span>
                    <% elsif (@tournament.end_date < Date.today) %>
                    <span class="bg-red-700 text-white text-xs px-2 py-1 rounded-full"><%= t "tournaments.status.completed" %></span>
                    <% end %>
                <% end %>    
                </h2>
                <h3>
                    <!-- if roster nil -->
                    <% if @roster.blank? %>
                    <button class="new_roster bg-indigo-700 text-white text-xs px-2 py-1 rounded-full"
                        data-attr='<%= @tournament.id %>'>
                        <%= t "tournaments.submit.create_roster" %>
                    </button>

                    <% end %> 
                    <% if (current_user.team.present?) && (current_user.team.owner_id == current_user.id) %>
                        <% if (@tournament.start_date) and (@tournament.start_date > Date.today) and (@tournament.rosters.count < @tournament.slots) %>
                            <% if !(@tournament.roster_tournaments.map { |a| a.roster_id }.include? (@roster.id)) %>
                            <button class="subscribe bg-indigo-700 text-white text-xs px-2 py-1 rounded-full"
                                data-attr='<%= @tournament.id %>'>
                                <%= t "tournaments.submit.subscribe" %>
                            </button>
                            <% end %>
                        <% end %>
                        <% if @roster_tournament and @roster_tournament.confirmed_subscribtion_at.blank? %>
                        <button class="confirm_subscribe bg-indigo-700 text-white text-xs px-2 py-1 rounded-full"
                            data-attr='<%= @tournament.id %>'>
                            <%= t "tournaments.submit.confirm_subscribe" %>
                        </button>
                        <% end %>
                    <% end %>
                </h3>
        </div>
        <!-- Tournament header text end -->
    </div>
    <!-- Tournament info end -->

</div>