   <div class="relative w-full mx-0 px-5 pb-10 bg-black">

       <% if (@matches.count > 0) %>
       <ul class=" pos--rel pb-60"> <% 1.times do %>
           <% @matches.each do |match| %>
           <li>
            <a href="#" class="block hover:bg-gray-50 focus:outline-none focus:bg-gray-50 transition duration-150 ease-in-out">
                <div class="flex flex-row justify-center content-center">
                    <div class="text-sm leading-5 font-medium text-indigo-600 truncate py-2 m-2">
                        <% if match.left_team %>
                        <%= match.left_team.name %>
                          <% else %> <%= t 'activerecord.notice.waiting_decided'%>
                        <% end %>
                    </div>

                    <div class="text-sm leading-5 font-medium text-indigo-600 truncate py-2 m-2">
                        <% if match.left_score %>
                        <%= match.left_score %>
                          <% else %> 0
                        <% end %>
                    </div>
                    <div
                        class="bg-gray-700 text-white text-xs px-4 py-1 rounded-full  px-4 pb-0.5 shadow py-1 m-4 text-gray-200 font-bold ">
                        <% if match.state %>
                          <%= match.state %>
                          <% else %> <%= t 'activerecord.notice.waiting'%>
                        <% end %>
                    </div>
                    <div class="text-sm leading-5 font-medium text-indigo-600 truncate py-2 m-2">
                        <% if match.right_team %>
                        <%= match.right_team.name %>
                        <% else %>  <%= t 'activerecord.notice.waiting_decided'%>
                        <% end %>
                    </div>
                    <div class="text-sm leading-5 font-medium text-indigo-600 truncate py-2 m-2">
                        <% if match.right_score %>
                        <%= match.right_score %>
                          <% else %> 0
                        <% end %>
                    </div>
                </div>
            </a>
           </li>
           <% end %>
           <% end %>
       </ul>
       <% else %>
       <div class="m-16 text-center">
           <svg class=" text-gray-500 inline-block h-8 w-8" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20"
               fill="currentColor">
               <path fill-rule="evenodd"
                   d="M3 4a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1zm0 4a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1zm0 4a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1zm0 4a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1z"
                   clip-rule="evenodd" />
           </svg>
           <p class="mt-3 max-w-md mx-auto text-base text-gray-500 sm:text-sm md:mt-5 sm:text-sm md:max-w-2xl">
              <%= t 'activerecord.errors.messages.empty_match'%> </p>
           <p class="mt-3 max-w-md mx-auto text-base text-gray-500 sm:text-sm md:mt-5 sm:text-sm md:max-w-2xl">
               <%= t 'activerecord.errors.messages.register_matche'%>.
           </p>
       </div>
       <% end %>
   </div>