<div class="px-4 bg-black my-0">
    <% if @past_match.count >0 %>
<div class="relative w-full mx-0 px-5 pb-10 bg-black">
    <ul class=" pos--rel pb-60"> <% 1.times do %>
            <% @past_match.each do |match| %>
           <li>
            <a href="#" class="block hover:bg-gray-50 focus:outline-none focus:bg-gray-50 transition duration-150 ease-in-out">
                <div class="m-2 flex flex-row justify-center content-center">
                    <div class="text-sm leading-5 font-medium text-indigo-600 truncate py-2 m-2">
                        <% if match.left_team %>
                        <%= match.left_team.name %>
                          <% else %> <%= t 'activerecord.notice.waiting_decided'%>
                        <% end %>
                    </div>

                    <div class="text-sm leading-5 font-medium text-indigo-600 truncate py-2 m-2">
                        <% if match.left_score %>
                        <%= match.left_score %>
                          <% else %> 0
                        <% end %>
                    </div>
                    <div
                        class="bg-gray-700 text-white text-xs px-4 py-1 rounded-full  px-4 pb-0.5 shadow py-1 m-4 text-gray-200 font-bold ">
                        <% if match.state %>
                          <%= match.state %>
                          <% else %> <%= t 'activerecord.notice.waiting'%>
                        <% end %>
                    </div>
                    <div class="text-sm leading-5 font-medium text-indigo-600 truncate py-2 m-2">
                        <% if match.right_team %>
                        <%= match.right_team.name %>
                        <% else %>  <%= t 'activerecord.notice.waiting_decided'%>
                        <% end %>
                    </div>
                    <div class="text-sm leading-5 font-medium text-indigo-600 truncate py-2 m-2">
                        <% if match.right_score %>
                        <%= match.right_score %>
                          <% else %> 0
                        <% end %>
                    </div>
                </div>
            </a>
           </li>
           <% end %>
           <% end %>
    </ul>
</div>
    <% end %>
</div>