<div class="overview grid grid-cols-2 gap-4">
    <div class="col-span-1">
        <!-- User information and description -->
        <div class="team-information-box border-dashed border-gray-600 rounded-md p-6  border-2">
            <h2 class="text-1xl font-bold leading-5 text-gray-200 sm:text-2xl sm:leading-0">
               <%= t 'activerecord.attributes.about'%>
            </h2>
            <div class="text-center text-gray-600">
            <div class="md:flex md:justify-center mb-6">
                <svg class="w-10 h-10" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
                    <path fill-rule="evenodd" d="M10 9a3 3 0 100-6 3 3 0 000 6zm-7 9a7 7 0 1114 0H3z"
                        clip-rule="evenodd">
                    </path>
                </svg>
            </div>
                <p class="font-bold"><%= t 'activerecord.attributes.informations'%></p>

                <p class="text-sm"><%= t 'users.edit.username'%>: <%= @user.username %> </p>
                <p class="text-sm"><%= t 'users.edit.email'%>: <%= @user.email %> </p>
                <% if @user.first_name.present? %>
                <p class="text-sm"><%= t 'users.edit.first_name'%>: <%= @user.first_name %> </p>
                <% end %>
                <% if @user.last_name.present? %>
                <p class="text-sm"><%= t 'users.edit.last_name'%>: <%= @user.last_name %></p>
                <% end %>
                <p class="text-sm  "> <%= t 'team.label.title'%>
                <% if @user.team %>
                    <a href="<%= show_team_path(@user.team_id) %>" class="flex-shrink-0 group block focus:outline-none">
                        <% if @user.team.avatar.attached? %>
                        <img class="inline-block h-12 w-12 rounded-full object-cover"
                            src="<%= url_for(@user.team.avatar) %>" alt />
                        <% else %>
                        <img class="inline-block h-12 w-12 rounded-full object-cover" src="/images/icons/no-game.png"
                            alt />
                        <% end %>
                    </a>
                <% end %>
                </p>
            </div>
        </div>
    </div>
    <div class="col-span-1">
        <!-- activities -->
        <h2 class="text-1xl font-bold leading-7 text-gray-200 sm:text-2xl sm:leading-9 sm:truncate mt-0 mb-5">
            <%= t 'activerecord.attributes.activities'%>
        </h2>
        <%= render "activities/partials/index", locals: { activities: @activities } %>
    </div>
</div>
</div>