<!-- Ongoing Tournaments -->
<% if @ongoing_tournaments.present? %>
<div class="md:flex md:items-center md:justify-between mt-10">
    <h5 class=" flex-1 text-1xl font-bold leading-7 text-white sm:text-2xl sm:leading-9 sm:truncate ">
        <%= t "global.ongoing" %>
    </h5>
    <%= paginate @ongoing_tournaments,param_name: :ongoing_tournaments, remote: true %>
</div>
<div class="mt-5 grid gap-5 max-w-lg mx-auto lg:grid-cols-4 lg:max-w-none pb-10">
    <% @ongoing_tournaments.each do |tournament| %>
    <%= render "pages/partials/tournament_card", tournament: tournament %>
    <% end %>
</div>
<% end %>
<!-- Upcoming Tournaments -->
<% if @upcoming_tournaments.present? %>
<div class="md:flex md:items-center md:justify-between mt-10">
    <h5 class="flex-1 text-1xl font-bold leading-7 text-white sm:text-2xl sm:leading-9 sm:truncate ">
        <%= t "global.upcoming" %>
    </h5>
    <%= paginate @upcoming_tournaments,param_name: :upcoming_tournaments,  remote: true %>
</div>
<div class="mt-5 grid gap-5 max-w-lg mx-auto lg:grid-cols-4 lg:max-w-none pb-10">
    <% @upcoming_tournaments.each do |tournament| %>
    <%= render "pages/partials/tournament_card", tournament: tournament %>
    <% end %>
</div>
<% end %>
<!-- Featured Tournaments -->

<div class="md:flex md:items-center md:justify-between mt-10">
    <h5 class="flex-1 text-1xl font-bold leading-7 text-white sm:text-2xl sm:leading-9 sm:truncate ">
        <%= t "game.tournaments.featured" %>
    </h5>
    <%= paginate @featured_tournaments, param_name: :featured_tournaments,remote: true %>
</div>
<div class="mt-5 grid gap-5 max-w-lg mx-auto lg:grid-cols-4 lg:max-w-none pb-10">
    <% if @featured_tournaments.present? %>
    <% @featured_tournaments.each do |tournament| %>
    <%= render "pages/partials/tournament_card", tournament: tournament %>
    <% end %>
    <% else %>
    <p class="text-gray-300 font-sm">
        <%= t "game.tournaments.info_featured" %>
    </p>
    <% end %>
</div>